source :rubygems

# Project requirements
gem 'activerecord', :require => "active_record"
gem 'erubis', "~> 2.7.0"
gem 'less'
gem 'pg'
gem 'rack-less'
gem 'rake'
gem 'sinatra-flash', :require => 'sinatra/flash'
gem 'therubyracer'

# Padrino Stable Gem
gem 'padrino'

# For dev
group :development do
  gem 'heroku'
  gem 'shotgun'
end
